In [1]:
import pandas as pd
# reading in the annotation data
df=pd.read_csv(r'C:\Users\Morga\programsMG\TextMining\IST736_HW_5 _input2.csv',
               sep=',',encoding="utf8",engine='python')

In [2]:
#looking at the imported data
df.head()

,content,gold_standard,coderA,coderB,coderC,coderD,coderE,mcoderA,mcoderB,mcoderC,mcoderD,mcoderE
0,"""RIDDLE ME THIS, BITCHMAN. IF PIGEONS ARENT AR...",VN,SP,VN,N,VN,N,SN,VN,N,SN,SN
1,Artificial intelligence in dentomaxillofacial ...,N,N,N,SP,SN,N,N,VP,VP,N,SP
2,#Gujarat_Welcomes_Modiji\nThe Command and Cont...,N,SP,N,N,N,N,VP,N,N,VP,N
3,AITB (Artificial Intelligence Trading bot) \nH...,N,SP,SP,SP,N,SN,N,N,N,N,N
4,How Artificial Intelligence Is Going To Be Reg...,N,SP,SP,N,N,SN,SP,N,N,N,N

In [3]:
#converting to lists to transform to numeric and create new data frame
content=df['content'].to_list()
gold_standard=df['gold_standard'].to_list()
coderA=df['coderA'].to_list()
coderB=df['coderB'].to_list()
coderC=df['coderC'].to_list()
coderD=df['coderD'].to_list()
coderE=df['coderE'].to_list()
mcoderA=df['mcoderA'].to_list()
mcoderB=df['mcoderB'].to_list()
mcoderC=df['mcoderC'].to_list()
mcoderD=df['mcoderD'].to_list()
mcoderE=df['mcoderE'].to_list()

In [4]:
#function to transfrom the values to numeric representations.
def replacesent(l):
    n = []
    for item in l:
        if item == 'VN':
            item = 0
        elif item == 'SN':
            item = 1
        elif item == 'N':
            item = 2
        elif item == 'SP':
            item = 3
        elif item == 'VP':
            item = 4
        n.append(item)
    return n

In [5]:
#using the funtion to transfrom the data
gold_standard=replacesent(gold_standard)
coderA=replacesent(coderA)
coderB=replacesent(coderB)
coderC=replacesent(coderC)
coderD=replacesent(coderD)
coderE=replacesent(coderE)
mcoderA=replacesent(mcoderA)
mcoderB=replacesent(mcoderB)
mcoderC=replacesent(mcoderC)
mcoderD=replacesent(mcoderD)
mcoderE=replacesent(mcoderE)

In [6]:
#creating an empty data frame
kdf = pd.DataFrame()
#adding each transformed list as a column
kdf['tweet']=content
kdf['gold_standard']=gold_standard
kdf['coderA']=coderA
kdf['coderB']=coderB
kdf['coderC']=coderC
kdf['coderD']=coderD
kdf['coderE']=coderE
kdf['mcoderA']=mcoderA
kdf['mcoderB']=mcoderB
kdf['mcoderC']=mcoderC
kdf['mcoderD']=mcoderD
kdf['mcoderE']=mcoderE

In [7]:
#manual inspection of the data frame preformed
#only small amt shown after initial inspection
kdf.head()

,tweet,gold_standard,coderA,coderB,coderC,coderD,coderE,mcoderA,mcoderB,mcoderC,mcoderD,mcoderE
0,"""RIDDLE ME THIS, BITCHMAN. IF PIGEONS ARENT AR...",0,3,0,2,0,2,1,0,2,1,1
1,Artificial intelligence in dentomaxillofacial ...,2,2,2,3,1,2,2,4,4,2,3
2,#Gujarat_Welcomes_Modiji\nThe Command and Cont...,2,3,2,2,2,2,4,2,2,4,2
3,AITB (Artificial Intelligence Trading bot) \nH...,2,3,3,3,2,1,2,2,2,2,2
4,How Artificial Intelligence Is Going To Be Reg...,2,3,3,2,2,1,3,2,2,2,2

In [16]:
from sklearn.metrics import cohen_kappa_score as kscore
import numpy as np

#calculating and displaying pair-wise kappa score for non master coders
kab=kscore(coderA,coderB)
print('kab',kab)
kac=kscore(coderA,coderC)
print('kac',kac)
kad=kscore(coderA,coderD)
print('kad',kad)
kae=kscore(coderA,coderE)
print('kae',kae)
kbc=kscore(coderB,coderC)
print('kbc',kbc)
kbd=kscore(coderB,coderD)
print('kbd',kbd)
kbe=kscore(coderB,coderE)
print('kbe',kbe)
kcd=kscore(coderC,coderD)
print('kcd',kcd)
kce=kscore(coderC,coderE)
print('kce',kce)
kde=kscore(coderD,coderE)
print('kde',kde)

#calculating and displaying overall kappa score of non master coders
AMT_overall = np.mean([kab,kac,kad,kae,kbc,kbd,kbe,kcd,kce,kde])
print('\nNon-master workers average kappa score:',AMT_overall)

kab 0.14432401597261846
kac 0.04761904761904745
kad -0.03626943005181338
kae -0.027397260273972712
kbc 0.0052662375658280025
kbd -0.019830028328611693
kbe 0.05660377358490554
kcd -0.09402720283855714
kce -0.11502347417840353
kde 0.04171364148816248

Non-master workers average kappa score: 0.0002979320559203469

In [9]:
#calculating and displaying each 
#amt worker (non master) vs gold standard.
kGa=kscore(gold_standard,coderA)
print('kGa',kGa)
kGb=kscore(gold_standard,coderB)
print('kGb',kGb)
kGc=kscore(gold_standard,coderC)
print('kGc',kGc)
kGd=kscore(gold_standard,coderD)
print('kGd',kGd)
kGe=kscore(gold_standard,coderE)
print('kGe',kGe)

kGa 0.06651108518086346
kGb 0.33333333333333337
kGc 0.1828087167070218
kGd 0.10352805089647188
kGe 0.13121629718394234

In [17]:
from sklearn.metrics import cohen_kappa_score as kscore
import numpy as np

#calculating and displaying pair-wise kappa score of master coders
kmamb=kscore(mcoderA,mcoderB)
print('kmamb',kmamb)
kmamc=kscore(mcoderA,mcoderC)
print('kmamc',kmamc)
kmamd=kscore(mcoderA,mcoderD)
print('kmamd',kmamd)
kmame=kscore(mcoderA,mcoderE)
print('kmame',kmame)
kmbmc=kscore(mcoderB,mcoderC)
print('kmbmc',kmbmc)
kmbmd=kscore(mcoderB,mcoderD)
print('kmbmd',kmbmd)
kmbme=kscore(mcoderB,mcoderE)
print('kmbme',kmbme)
kmcmd=kscore(mcoderC,mcoderD)
print('kmcmd',kmcmd)
kmcme=kscore(mcoderC,mcoderE)
print('kmcme',kmcme)
kmdme=kscore(mcoderD,mcoderE)
print('kmdme',kmdme)

#calculating and displaying overall kappa score of master coders
AMT_m_overall = np.mean([kmamb,kmamc,kmamd,kmame,kmbmc,kmbmd,kmbme,kmcmd,kmcme,kmdme])
print('\nMaster workers average kappa score:',AMT_m_overall)

kmamb -0.08091414453366275
kmamc -0.01538461538461533
kmamd 0.22928709055876673
kmame -0.023990637799883086
kmbmc 0.23184357541899447
kmbmd -0.00972326103216159
kmbme 0.19103920348475423
kmcmd 0.07120743034055743
kmcme 0.24290220820189268
kmdme 0.07894736842105265

Master workers average kappa score: 0.09152142176756954

In [11]:
#calculating and displaying each
#amt worker (master coders) vs gold standard.
kGma=kscore(gold_standard,mcoderA)
print('kGma',kGma)
kGmb=kscore(gold_standard,mcoderB)
print('kGmb',kGmb)
kGmc=kscore(gold_standard,mcoderC)
print('kGmc',kGmc)
kGmd=kscore(gold_standard,mcoderD)
print('kGmd',kGmd)
kGme=kscore(gold_standard,mcoderE)
print('kGme',kGme)

kGma 0.19547079856972593
kGmb 0.14502849905003168
kGmc 0.276274386406545
kGmd 0.20318725099601598
kGme 0.34640522875817004

In [20]:
#finding the pairwise kappa scores of master vs non master coders
#a with m
kama=kscore(coderA,mcoderA)
kamb=kscore(coderA,mcoderB)
kamc=kscore(coderA,mcoderC)
kamd=kscore(coderA,mcoderD)
kame=kscore(coderA,mcoderE)
#b with m
kbma=kscore(coderB,mcoderA)
kbmb=kscore(coderB,mcoderB)
kbmc=kscore(coderB,mcoderC)
kbmd=kscore(coderB,mcoderD)
kbme=kscore(coderB,mcoderE)
#c with m
kcma=kscore(coderC,mcoderA)
kcmb=kscore(coderC,mcoderB)
kcmc=kscore(coderC,mcoderC)
kcmd=kscore(coderC,mcoderD)
kcme=kscore(coderC,mcoderE)
#d with m
kdma=kscore(coderD,mcoderA)
kdmb=kscore(coderD,mcoderB)
kdmc=kscore(coderD,mcoderC)
kdmd=kscore(coderD,mcoderD)
kdme=kscore(coderD,mcoderE)
#e with m
kema=kscore(coderE,mcoderA)
kemb=kscore(coderE,mcoderB)
kemc=kscore(coderE,mcoderC)
kemd=kscore(coderE,mcoderD)
keme=kscore(coderE,mcoderE)

#calculating and displaying overall kappa score of master 
#coders and non master coders
AMT_all_overall = np.mean([kab,kac,kad,kae,kbc,kbd
                           ,kbe,kcd,kce,kde,kmamb,kmamc
                           ,kmamd,kmame,kmbmc,kmbmd
                           ,kmbme,kmcmd,kmcme,kmdme
                           ,kama,kamb,kamc,kamd,kame
                           ,kbma,kbmb,kbmc,kbmd,kbme
                           ,kcma,kcmb,kcmc,kcmd,kcme
                           ,kdma,kdmb,kdmc,kdmd,kdme
                           ,kema,kemb,kemc,kemd,keme])
print('Average kappa score of all workers and master workers\n'
      ,AMT_all_overall)

Average kappa score of all workers and master workers
 0.03015924322828148

Kendall's tau-B values:
Less than + or - 0.10: very weak
+ or -0.10 to 0.19: weak
+ or - 0.20 to 0.29: moderate
+ or - 0.30 or above: strong

In [21]:
from scipy import stats

#function to get the tau score only
def tscore(a,b):
    tau , p_value = stats.kendalltau(a,b)
    return tau

In [22]:
#calculating and displaying kendell's tau for master coders
tmamb=tscore(mcoderA,mcoderB)
tmamc=tscore(mcoderA,mcoderC)
tmamd=tscore(mcoderA,mcoderD)
tmame=tscore(mcoderA,mcoderE)
tmbmc=tscore(mcoderB,mcoderC)
tmbmd=tscore(mcoderB,mcoderD)
tmbme=tscore(mcoderB,mcoderE)
tmcmd=tscore(mcoderC,mcoderD)
tmcme=tscore(mcoderC,mcoderE)
tmdme=tscore(mcoderD,mcoderE)

#calculating and displaying overall tau score of master coders
AMT_m_overall = np.mean([tmamb,tmamc,tmamd,tmame,tmbmc,tmbmd,tmbme,tmcmd,tmcme,tmdme])
AMT_m_overall

0.16157795077398115

In [23]:
#calculating and displaying each amt worter (master coders) vs gold standard kendells tau.
tGma=tscore(gold_standard,mcoderA)
print('tGma',tGma)
tGmb=tscore(gold_standard,mcoderB)
print('tGmb',tGmb)
tGmc=tscore(gold_standard,mcoderC)
print('tGmc',tGmc)
tGmd=tscore(gold_standard,mcoderD)
print('tGmd',tGmd)
tGme=tscore(gold_standard,mcoderE)
print('tGme',tGme)
tGb=tscore(gold_standard,coderB)
print('tGb',tGb)

tGma 0.2545301889779602
tGmb 0.09062105609404722
tGmc 0.271301304064034
tGmd 0.18465558430811801
tGme 0.4328913718911326
tGb 0.37378264258995697